*{
    margin: 0;
    padding: 0;
    /* background-color: #ecf0f1; */
    box-sizing: border-box;
}
.root-container{
    width: 100vw;
    height: 80vh;
    overflow: scroll;
}
.cell{
    height: 2rem;
    width: 5rem;
    /* min-width: 150px; */
    padding: 5px;
    overflow: hidden;
    border: 1px solid #C4C7C5 ;
}
.header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    width: fit-content;
    background-color: #fff;
}
.header > div:first-child{
    position: sticky !important;
    left: 0;
    z-index: 2;
    background-color: #C4C7C5;
}
.serialNo{
    position: sticky;
    left: 0;
    background-color: #fff;
}
.sNo-Cell, .header-cell{
    text-align: center;
}
.body{
    display: flex;
    width: fit-content;
}
/* .main-cell{
    
} */
.row{
    display: flex;
}